:root {
  --white-color: #f5efe6;
  --blue-color: #495ca7;
  --yellow-color: #fbc902;
  --green-color: #07c550;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--yellow-color);
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 0 auto;
  flex: 1;
}

#input-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 360px;
}

input {
  background: var(--white-color);
  width: 60%;
  height: 40px;
  border: none;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button {
  width: 40%;
  height: 40px;
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

#logo {
  width: 250px;
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  background: var(--white-color);
  border-radius: 10px;
  margin: 40px auto;
  padding: 30px;
}

#error {
  margin-top: 20px;
}

#name {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

#container img {
  width: 200px;
  height: auto;
  margin: 10px;
}

#abilities {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#abilities-list {
  font-size: 16px;
  text-transform: capitalize;
}

footer {
  width: 100%;
  height: 70px;
  background: var(--blue-color);
  color: var(--white-color);
  text-align: left;
  padding: 20px;
  position: relative; /* Ensure it's positioned relative to the body */
}

a {
  color: var(--yellow-color);
}